<template>
    <div>
        <add-coordinates></add-coordinates>
    </div>
</template>

<script>
    import AddCoordinates from "../components/addCoordinates";

    export default {
        name: "AddFigure",
        components: {AddCoordinates}
    }
</script>

<style scoped>

</style>