<template>
    <div>
        <h1>Application</h1>
        <ul class="nav nav-tabs">
            <li v-if="$auth.check()" class="nav-item">
                <router-link class="nav-link" :to="{ name: 'home' }">My figures</router-link>
            </li>
            <li v-if="$auth.check()" class="nav-item">
                <router-link class="nav-link" :to="{ name: 'addFigure' }">Add figure</router-link>
            </li>
            <li v-if="$auth.check()" class="nav-item">
                <a class="nav-link" href="#" @click.prevent="$auth.logout()">Logout</a>
            </li>
            <li v-if="!$auth.check()" class="nav-item">
                <router-link class="nav-link" :to="{ name: 'login' }">Login</router-link>
            </li>
            <li v-if="!$auth.check()" class="nav-item">
                <router-link class="nav-link" :to="{ name: 'register' }">Register</router-link>
            </li>
        </ul>
        <div class="container content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>