<template>
    <div>
        <my-coordinates></my-coordinates>
    </div>
</template>

<script>
    import MyCoordinates from "../components/myCoordinates";

    export default {
        name: "Home",
        components: {MyCoordinates}
    }
</script>

<style scoped>

</style>