<template>
    <div id="addCoordinates">
        <h2>Add new coordinate</h2>
        <form v-on:submit.prevent="addNewCoordinates">
            <div>
                <label for="new-coords-latitude">Latitude</label>
                <input
                        v-model="newCoordLatitude"
                        id="new-coords-latitude"
                >
            </div>
            <div>
                <label for="new-coords-longitude">Longitude</label>
                <input
                        v-model="newCoordLongitude"
                        id="new-coords-longitude"
                >
            </div>
            <button>Add coordinate</button>
        </form>

        <div v-if="coordinates.length !== 0">
            <h2>Your current coordinates</h2>
            <ul>
                <li v-for="(coord, index) in coordinates"
                    v-bind:key="coord.id"
                    v-bind:latitude="coord.latitude"
                    v-bind:longitude="coord.longitude"
                >
                    {{ coord.latitude }} {{ coord.longitude }}
                    <button v-on:click="coordinates.splice(index, 1)">Remove</button>
                </li>
            </ul>
            <button v-on:click="sendData">Save coordinates</button>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "addCoordinates",
        data() {
            return {
                newCoordLatitude: '',
                newCoordLongitude: '',
                coordinates: [],
                nextCoordId: 0
            }
        },
        methods: {
            addNewCoordinates: function () {
                if (!this.validLongitude(this.newCoordLongitude) || !this.validLatitude(this.newCoordLatitude)) {
                    alert("Please check data");
                    return false;
                }
                this.coordinates.push({
                    latitude: this.newCoordLatitude,
                    longitude: this.newCoordLongitude
                });
                this.newCoordLatitude = '';
                this.newCoordLongitude = '';
            },
            validLatitude: function (latitude) {
                let regexp = /^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,14})?))$/;
                return regexp.test(latitude);
            },
            validLongitude: function (longitude) {
                let regexp = /^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,14})?))$/;
                return regexp.test(longitude);
            },
            sendData: function () {
                if (this.coordinates.length === 0)
                    return false;
                axios.post('/coordinates', {
                    coordinates: this.coordinates
                }).then(
                    response => {
                        this.coordinates = [];
                        this.nextCoordId = 0;
                        alert(`Coordinates saved`);
                    }
                ).catch(e => {
                    alert(`error`);
                })
            }
        }

    }
</script>

<style scoped>

</style>