<template>
    <div>
        <h2>My figures</h2>
        <span v-if="maxPerimeter">Max perimeter: {{maxPerimeter.perimeter}}</span>
        <div v-for="(coordinate, index) in coordinates">
            <h3>Figure {{index + 1}}</h3>
            <table border="1">
                <tr>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Perimeter</th>
                </tr>
                <tr v-for="(coord, iter) in coordinate.coordinates">
                    <td>{{coord.latitude}}</td>
                    <td>{{coord.longitude}}</td>
                    <td align="center" v-if="(iter === 0)" :rowspan="coordinate.coordinates.length">{{coordinate.perimeter}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "myCoordinates",
        data() {
            return {
                coordinates: [],
                maxPerimeter: 0
            }
        },
        mounted() {
            this.loadCoordinates();
        },
        methods: {
            loadCoordinates() {
                axios.get('/coordinates').then(
                    response => {
                        for (let i = 0; i < response.data.length; i++) {
                            this.coordinates.push({
                                "coordinates" : JSON.parse(response.data[i].coordinates),
                                "perimeter" : response.data[i].perimeter
                            });
                        }
                        this.maxPerimeter = this.coordinates.reduce((a,b) => Number(a.perimeter) > Number(b.perimeter) ? a.perimeter : b.perimeter);
                    }
                ).catch(e => {
                    console.log(`error`);
                })
            }
        },
    }
</script>

<style scoped>

</style>